@import "variables";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: $theme__size;
    body {
        @include font;
        max-height: 100vh;
        margin: 0;
        padding: 0;
    }
}

#social__proff {
    background-image: url(../img/bg-pattern-top-desktop.svg), url(../img/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    main {
        .main__content {
            @include d-flex;
            justify-content: space-between;
            margin-top: 100px;
            margin-bottom: 40px;
            .text {
                .headline {
                    font-size: 45px;
                    color: $very__dark__magenta;
                    font-weight: 700;
                    line-height: normal;
                    text-align: left;
                }
                .explanation {
                    margin-top: 16px;
                    color: $dark__grayish__magenta;
                    font-weight: 500;
                }
            }
            .stars {
                padding-right: 90px;
                .content {
                    @include d-flex;
                    gap: 25px;
                    background-color: $light__grayish__magenta;
                    border-radius: 6px;
                    line-height: normal;
                    padding: 15px 30px;
                    margin-bottom: 15px;
                    p {
                        color: $very__dark__magenta;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                    .rate {
                        .star {
                            margin-left: 1px;
                            margin-right: 1px;
                            &::before {
                                content: url(/assets/img/icon-star.svg);
                            }
                        }
                    }
                    &:nth-child(1) {
                        transform: translateX(0px);
                    }
                    &:nth-child(2) {
                        transform: translateX(45px);
                    }
                    &:nth-child(3) {
                        transform: translateX(90px);
                    }
                }
            }
        }
        .main__customer {
            @include d-flex;
            margin-top: 40px;
            gap: 25px;
            padding-bottom: 40px;
            .item {
                background-color: $very__dark__magenta;
                border-radius: 6px;
                padding: 30px 30px;
                .person {
                    @include d-flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    .image {
                        img {
                            border-radius: 100%;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .detail {
                        span {
                            color: $white;
                            font-weight: 700;
                        }
                        p {
                            color: $soft__pink;
                            font-weight: 500;
                            margin-bottom: 0px;
                        }
                    }
                }
                .comment {
                    p {
                        color: $white;
                    }
                }
                &:nth-child(1) {
                    transform: translateY(0px);
                }
                &:nth-child(2) {
                    transform: translateY(20px);
                }
                &:nth-child(3) {
                    transform: translateY(40px);
                }
            }
        }
    }
}

@media (min-width: 576px) {
    br {
        &.large {
            display: none;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    br {
        &.large {
            display: none;
        }
        &.medium {
            display: block;
        }
        &.small {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    br {
        &.large {
            display: block;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    br {
        &.large {
            display: block;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: none;
        }
    }
}